body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(147, 230, 255);
}

table {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e7ffcc;
    
}